body {
    background-image: url("../resources/background-image.jpg");
    -webkit-background-size: 100%;
    background-color: #9fa1ac;

}

#bigContainer {
    position: center;
    margin: 50px;
}

#containerForCheckboxes {
    height: 370px;
    width: 350px;
}

#containerForMap {
    height: 750px;
    width: 1000px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 100px;
    top: 200px;
}

#containerForPagination {
    height: 430px;
    width: 670px;
}
