html {
    background-image: url("../resources/darker-background-picture.jpg");
    -webkit-background-size: 100%;
    background-color: #9fa1ac;

}

#container {
    position: center;
    width: 100%;
    height: 70%;
    font-family: "Open Sans", sans-serif;

}

#topHeader {
    margin: 150px;
    text-align: center;
    color: white;
    font-family: "Open Sans", sans-serif
}

.advantages {
    margin-left: 100px;
    display: inline-block;
    height: auto;
    width: 450px;
    float: left;
    border-right: 3px solid;
    border-right-color: #ffffff;
    margin-top: 50px;
}

.advantagesLastElement {
    margin-left: 100px;
    display: inline-block;
    height: auto;
    width: 450px;
    float: left;
    margin-top: 50px;
}

h1 {
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
    margin: 10px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

h2 {
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
    margin: 5px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

h3 {
    color: #fff;
    font-size: 18px;
    margin: 10px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}
