#conteiner {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 350px;
    position: relative;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin-left: 150px;
}

#createButton {
    background-color: #39ace7;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    width: 90%;
    max-width: 350px;
    position: relative;
    text-align: center;
    margin-top: 30px;
    font-family: "Open Sans", sans-serif;

}

#createButton2 {
    background-color: #39ace7;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    width: 90%;
    max-width: 350px;
    position: relative;
    text-align: center;
    margin-top: 30px;
    font-family: "Open Sans", sans-serif;

}

label {
    width: 35px;
    height: 35px;
    display: inline-block;
    position: relative;
    margin: 10px;
}

#totalSpots {
    width: 60px;
}

#inputLong {
    display: inline-block;
    width: 100px;
}

#inputLat {
    display: inline-block;
    width: 100px;
}

#parkingName {
    width: 260px;
}

#invalidInput {
    color: red;
}

#electricity + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/electricity.png") no-repeat;
    cursor: pointer;
}

#electricity:checked + span {
    background: url("../resources/PicturesOfParkingServices/electricity2.png") no-repeat;
}

#electricity2 + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/electricity.png") no-repeat;
    cursor: pointer;
}

#electricity2:checked + span {
    background: url("../resources/PicturesOfParkingServices/electricity2.png") no-repeat;
}

#fence + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/fence.png") no-repeat;
    cursor: pointer;
}

#fence:checked + span {
    background: url("../resources/PicturesOfParkingServices/fence2.png") no-repeat;
}

#fence2 + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/fence.png") no-repeat;
    cursor: pointer;
}

#fence2:checked + span {
    background: url("../resources/PicturesOfParkingServices/fence2.png") no-repeat;
}

#food + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/food.png") no-repeat;
    cursor: pointer;
}

#food:checked + span {
    background: url("../resources/PicturesOfParkingServices/food2.png") no-repeat;
}

#food2 + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/food.png") no-repeat;
    cursor: pointer;
}

#food2:checked + span {
    background: url("../resources/PicturesOfParkingServices/food2.png") no-repeat;
}

#gasStation + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/gasStation.png") no-repeat;
    cursor: pointer;
}

#gasStation:checked + span {
    background: url("../resources/PicturesOfParkingServices/gasStation2.png") no-repeat;
}

#gasStation2 + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/gasStation.png") no-repeat;
    cursor: pointer;
}

#gasStation2:checked + span {
    background: url("../resources/PicturesOfParkingServices/gasStation2.png") no-repeat;
}

#guard + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/guard.png") no-repeat;
    cursor: pointer;
}

#guard:checked + span {
    background: url("../resources/PicturesOfParkingServices/guard2.png") no-repeat;
}

#guard2 + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/guard.png") no-repeat;
    cursor: pointer;
}

#guard2:checked + span {
    background: url("../resources/PicturesOfParkingServices/guard2.png") no-repeat;
}

#light + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/light.png") no-repeat;
    cursor: pointer;
}

#light:checked + span {
    background: url("../resources/PicturesOfParkingServices/light2.png") no-repeat;
}

#light2 + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/light.png") no-repeat;
    cursor: pointer;
}

#light2:checked + span {
    background: url("../resources/PicturesOfParkingServices/light2.png") no-repeat;
}

#lodging + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/lodging.png") no-repeat;
    cursor: pointer;
}

#lodging:checked + span {
    background: url("../resources/PicturesOfParkingServices/lodging2.png") no-repeat;
}

#lodging2 + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/lodging.png") no-repeat;
    cursor: pointer;
}

#lodging2:checked + span {
    background: url("../resources/PicturesOfParkingServices/lodging2.png") no-repeat;
}

#securityCameras + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/securityCameras.png") no-repeat;
    cursor: pointer;
}

#securityCameras:checked + span {
    background: url("../resources/PicturesOfParkingServices/securityCameras2.png") no-repeat;
}

#securityCameras2 + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/securityCameras.png") no-repeat;
    cursor: pointer;
}

#securityCameras2:checked + span {
    background: url("../resources/PicturesOfParkingServices/securityCameras2.png") no-repeat;
}

#service + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/service.png") no-repeat;
    cursor: pointer;
}

#service:checked + span {
    background: url("../resources/PicturesOfParkingServices/service2.png") no-repeat;
}

#service2 + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/service.png") no-repeat;
    cursor: pointer;
}

#service2:checked + span {
    background: url("../resources/PicturesOfParkingServices/service2.png") no-repeat;
}

#shower + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/shower.png") no-repeat;
    cursor: pointer;
}

#shower:checked + span {
    background: url("../resources/PicturesOfParkingServices/shower2.png") no-repeat;
}

#shower2 + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/shower.png") no-repeat;
    cursor: pointer;
}

#shower2:checked + span {
    background: url("../resources/PicturesOfParkingServices/shower2.png") no-repeat;
}

#store + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/store.png") no-repeat;
    cursor: pointer;
}

#store:checked + span {
    background: url("../resources/PicturesOfParkingServices/store2.png") no-repeat;
}

#store2 + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/store.png") no-repeat;
    cursor: pointer;
}

#store2:checked + span {
    background: url("../resources/PicturesOfParkingServices/store2.png") no-repeat;
}

#truckWash + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/truckWash.png") no-repeat;
    cursor: pointer;
}

#truckWash:checked + span {
    background: url("../resources/PicturesOfParkingServices/truckWash2.png") no-repeat;
}

#truckWash2 + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/truckWash.png") no-repeat;
    cursor: pointer;
}

#truckWash2:checked + span {
    background: url("../resources/PicturesOfParkingServices/truckWash2.png") no-repeat;
}

#water + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/water.png") no-repeat;
    cursor: pointer;
}

#water:checked + span {
    background: url("../resources/PicturesOfParkingServices/water2.png") no-repeat;
}

#water2 + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/water.png") no-repeat;
    cursor: pointer;
}

#water2:checked + span {
    background: url("../resources/PicturesOfParkingServices/water2.png") no-repeat;
}

#wc + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/wc.png") no-repeat;
    cursor: pointer;
}

#wc:checked + span {
    background: url("../resources/PicturesOfParkingServices/wc2.png") no-repeat;
}

#wc2 + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/wc.png") no-repeat;
    cursor: pointer;
}

#wc2:checked + span {
    background: url("../resources/PicturesOfParkingServices/wc2.png") no-repeat;
}

#wifi + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/wifi.png") no-repeat;
    cursor: pointer;
}

#wifi:checked + span {
    background: url("../resources/PicturesOfParkingServices/wifi2.png") no-repeat;
}

#wifi2 + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../resources/PicturesOfParkingServices/wifi.png") no-repeat;
    cursor: pointer;
}

#wifi2:checked + span {
    background: url("../resources/PicturesOfParkingServices/wifi2.png") no-repeat;
}